.container__gridsection {
  width: 100vw;
  overflow-x: hidden;
}
.grid__section {
  height: 600px;
  width: 100vw;
}
.box__gridsection {
  width: 3000px;
  height: 600px;
  display: flex;
  justify-content: space-around;
  animation: fadeLeft 60s linear infinite;
}
@keyframes fadeLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-850px);
  }
}
.grid__img {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.grid__item {
  width: 300px;
}
.grid__img img {
  width: 300px;
  height: 300px;
  border-radius: 40px;
}
.grid__title {
}
.grid__bottom {
  display: flex;
  margin-top: 32px;
}
.logo__grid {
  margin: 23px 0;
  width: 62px;
  margin-right: 12px;
  height: 49px;
}
.grid__title h2 {
  font-size: 24px;
  padding: 24px 0;
}
.grid__title p {
  font-size: 16px;
  line-height: 20px;
  font-weight: 200;
}
.list__btn__carousel{
  display: flex;
  justify-content: center;
  align-items: center;
  margin:16px 0;

}
.item__btn__carousel{
    padding:12px 24px;
    background-color: #f2f3f4;
    border-radius: 30px;
    cursor: pointer;
    
  }
.item__btn__carousel + .item__btn__carousel{
  margin-left: 16px;
}
.btn__carousel{
  color: rgb(34 49 63);
  font-weight: 200;
  font-size: 16px;
}
.item__btn__carousel:hover{
  background-color: #22313f;
  
}
.item__btn__carousel:hover .btn__carousel{
color:white;
  
}
.box__listitem__carouse{
  width:100%;
  overflow-x: hidden;
  position: relative;
  
}

.section__carousel{
  width: 100%;
  max-width: 1140px;
  margin: 32px auto;

}
.box__item__carousel{
  width: 3075px;
  display: flex;
  justify-content: space-between;
  transition: all 0.25s ease 0s;
}
.item__with__link{
  width:100%;
  border-radius: 16px;
  max-width: 100%;
  min-width: 100%;
  position: relative;
  display: block;
  overflow: hidden;
  transition: .3s;
  
}
.hover__zoom__in__out{
  transition: 0.3s ease-in-out;

  transform: scale(1);

}
.hover__zoom__in__out:hover{
  transform: scale(1.1);
}

.item__with__link img{
  width:100%;
  border-radius: 20px;
  max-width: 100%;
  transform: scale(1);
  transition: 0.3s ease-in-out;

}
.item__with__link:hover img{
  transform: scale(1.1);

}

.with__voucher{
  display:flex;
  justify-content: flex-start;
  align-items: center;
  margin:12px 0;
}
.with__voucher p{
padding:8px 12px;
background-color: #00bc3c;
color:white;
font-size: 16px;
border-radius: 12px;
font-weight: 600;
}
.with__voucher img{
  width: 24px;
  margin-left: -10px;
}
.item__with__carousel{
  width:350px;
  height: 100%;
}
.item__with__title h1{
  font-size: 20px;
  margin:10px 0;
}
.item__with__carousel span{
  font-weight: 200;
  line-height: 25px;
  font-size: 15px;

}
.with__click__left{
  position: absolute;
  top: 50%;
  z-index: 999;
  left: 0px;
cursor: pointer;
}
.with__click__right{
  position: absolute;
  top: 50%;
  z-index: 999;
  right: 0px;
cursor: pointer;
}
.arrow__withcarousel{
  color: white;
  font-size: 19px;
  background-color: rgba(0,0,0,0.5);
  padding: 10px 11px;
  border-radius: 67px;

  }
.three__col__content{
  padding: 4px 8px;
  width: 300px;
}
.three__col__img{
  height:580px;

}
.three__col__stt{
  width: 14px;
    height: 55px;
    position: absolute;
    bottom: 72px;
    left: 24px;

}
.three__col__box{
  display: flex;
  justify-content: flex-end;
  position: relative;
}
.nav__three__col{
  max-width: 1140px;
  margin: 32px auto;
}
.three__col__title{
  font-size: 32px;
  margin: 10px 0;
}
 .feature_header__link{
   width:100%;
   border-radius: 20px;
   position: relative;
   display: block;
   overflow: hidden;
   transition: .3s ease-in-out;
 }
 .feature__header__img{
   width: 100%;
   border-radius: 20px;
   transform: scale(1);
   transition: .3s ease-in-out;

 }

 .feature__header__img:hover{
  transform: scale(1.1);

 }
 .feature__post__container{
  max-width: 1140px;
  margin: 32px auto;
     border-radius: 20px;

 }
 .feature__header__title{
   color:red;
   font-weight: 400;
   margin-bottom:12px;


 }
 .feature__header__name{
  color: black;
  font-size: 24px;
  font-weight: 400;
  margin:30px 0;

 } 
.box__feature__right a:hover{
  color:red
}
.feature__header__description{
  font-size: 18px;
  font-weight: 300;
  margin-top:12px;
  
}
.section__final{
  margin:24px 0;
}

.featuresmall_header__link{
  width: 100%;
  overflow: hidden;
  display: block;
  border-radius: 20px;
}
.featuresmall__header__img{
  width:250px;
  border-radius: 20px;
  
}
.feature__small__container{
  max-width: 1140px;
  margin: 32px auto;

}
.box__featuresmall__right{

}
.featuresmall__header__title{
  color:red;
  font-size: 12px;
}
.featuresmall__header__name{
  color:black;
  font-size: 18px;
  font-weight: 500;
}
.box__featuresmall__right a:hover{
  color:red
}
.featuresmall__header__description{
  margin-top:24px;
}
.feature__small__item{
  margin:32px 0;
}
.line__red{
  height: 4px;
  width: 24px;
  background-color: red;

}
.download__app__container {
  max-width: 1140px;
  margin: 32px auto;
}
.box__download__app{
  padding: 60px 80px 0;
  background-color: #22313f;
  border-radius: 20px;
}
.download__app__itemicon{
  margin: 24px 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;

}
.download__app__icon{
  font-size: 21px;
    color: white;
    padding: 8px 18px;
    border-radius: 30px;
    border: 1px solid rgba(255,255,255,.3);

}
.download__app__title{
  color:white;
  font-size: 18px;
  font-weight: 500;
  margin-left: 16px;
}
.download__app__titleheader{
  color:white;
  font-size: 32px;
}
.download__group__title{
  color:white;
  font-weight: 400;
  font-size: 15px;
  margin:16px 0;
}
.download__app__inner{
  display: flex;
  justify-content: flex-start;
}
.download__app__mobile{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-left: 24px;
}
.download__app__mobile-link{
  display: block;
}
.download__group__icon-right{
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}
.download__group__icon-right img{
  width:100%;
  max-width: 300px;
  max-height: 350px;
}
.three__col__section{
  max-width: 1140px;
  margin: 32px auto;
}